
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  list-style-type: none;
}

.bg-img-1 {
  /* background-image: url("img_nature.jpg"); */
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-img-2 {
  /* background-image: url("img_nature.jpg"); */
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container-custom {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: -1rem 0 3rem #000;
}

.profile-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;  
  box-shadow: -1rem 0 3rem #000;
}


.logo {
  height: auto;
  width: auto;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
  box-shadow: -1rem 0 3rem #000;
}

.logo-small {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);

}

.card {
  border-radius: 0px;
  box-shadow: 0x 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0); 
  background: #354550; 
  opacity: 1;

}

.card2 {
  background-color: #354550;
  border-radius: 0px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  opacity: 1;
}

.card2 * {
  color: whitesmoke;
  }

.title {
  font-family: 'Carme', sans-serif;
  font-family: 'Libre Baskerville', serif;
}

.search {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.primary-button {
  background: linear-gradient(45deg, #4B8BBE, #5c8cac);
  text-transform: uppercase;  
  border-radius: 30px;
  border: none;
  margin: auto;
  width: 30%;
  padding: 12px, 30px;
  opacity: .8;
  text-decoration: none;
  box-shadow: -1rem 0 rem #000;
}

.primary-button:hover {
  background: linear-gradient(45deg, #5c8cac, #5f92bb);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   transform: translateX(4px);
  opacity: 1;
}

.secondary-button {
  background: linear-gradient(0deg, #4b8abe17, #5c8cac8c);
  /* text-transform: uppercase;   */
  border-radius: 30px;
  border: none;
  margin: auto;
  width: 50%;
  padding: 10px, 30px;
  opacity: .9;
  text-decoration: none;
  box-shadow: -0.5rem 0 4rem #000;
}

.logoutbutton {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  box-shadow: -1rem 0 3rem #000;
}

.accept-button {
  background: linear-gradient(45deg, #5c8cac, #4297a3 );
  text-transform: uppercase;  
  border-radius: 30px;
  border: none;
  margin: auto;
  width: 30%;
  padding: 12px, 30px;
  opacity: .8;
  text-decoration: none;
  box-shadow: -1rem 0 3rem #000;
}

.accept-button:hover {
  background: linear-gradient(45deg, #5c8cac, #8cbe4b);
  box-shadow: -1rem 0 3rem #000;
  opacity: 1;
}

.warning-button {
  background: linear-gradient(45deg, #be4b53, #7b3035);
  text-transform: uppercase;  
  border-radius: 30px;
  border: none;
  margin: auto;
  width: 20%;
  padding: 12px, 30px;
  opacity: .8;
  text-decoration: none;
}

.warning-button:hover {
  background: linear-gradient(45deg, #be4b53, #7b3035);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   transform: translateX(-4px);
  opacity: 1;
}

.auth {
  list-style-type: none;
  box-sizing: content-box;
  border: solid #000000 4px;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0); 
  background: #354550; 
  opacity: .9;
}

.grid-custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.map {
  width: 300px;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card-article {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  min-width: 250px;
  padding: 0rem;

  border-radius: 16px;
  background: #354550;
  box-shadow: -1rem 0 3rem #000;

  transition: .3s;

  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card-article:hover {
  transform: translateY(-1rem);
}

.card-article:hover~.card-article {
  transform: translateX(130px);
}

.card-article:not(:first-child) {
  margin-left: -130px;
}


.card-header {
  margin-bottom: auto;
}

.card-browse {
  width: 75%;
  border-radius: 30px;
  background: #354550;
  box-shadow: -1rem 0 3rem #000;
  margin: auto;
  position: relative;
}

.dialog {
  width: 500px;
  border-radius: 30px;
  background: #354550;
  box-shadow: -1rem 0 3rem #000;
  margin: 5;
  position: relative;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.errors {
  color: #FF4136;
}

.placeholder {
  display: block;
  margin: auto;
  width: 60%;
  opacity: 0.3;
  mix-blend-mode: screen;
}

.browser-card {
  width: 100%;
  border-radius: 30px;
  background: #354550;
  box-shadow: -1rem 0 3rem #000;
  margin: 0;
  position: relative;

}

.chatbox {
  width: 100%;
  border-radius: 30px;
  background: #f8f8f8;
  box-shadow: -1rem 0 3rem #000;
  margin: auto;
  position: block;
}